@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Noto Serif Tangut';
    src: url('/classics/NotoSerifTangut-Regular.ttf') format('truetype');
    font-display: swap;
    unicode-range: U+17000-187FF, U+18800-18AFF, U+18D00-18D7F;
  }

  body {
    @apply bg-white text-gray-900;
  }
}

@layer utilities {
  code {
    @apply bg-gray-100 px-1 py-0.5 rounded font-mono text-sm;
  }
}

.mermaid-diagram svg {
  max-width: 100%;
  height: auto;
}
